.payment-cont {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 9999;
  display: none;
}

.payment-cont.open {
  display: block;
}

.payment-cont .inner {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90vh;
  padding: 30px 25px;
  background-color: #fff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.inner-2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.success-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.otp-inputs {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.otp-inputs input {
  width: 40px;
  height: 50px;
  font-size: 24px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.custom-keypad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-items: center;
}

.key-btn {
  padding: 15px;
  font-size: 18px;
  width: 100%;
  background-color: #f0f0f0;
  border: none;
  border-radius: 10px;
}

